<%- include('../partials/header.html') -%>
<div class="main">
  <div class="columns container card">
    <div class="column is-4 is-offset-4">
      <div>
        <form
          class="box"
          action="/update"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="block">
            <div class="field">
              <label class="label">学号</label>
              <input
                required="required"
                class="input"
                name="id"
                type="text"
                placeholder="请输入学号"
                readonly="readonly"
                value="<%= id %>"
              />
            </div>
            <div class="field">
              <label class="label">姓名</label>
              <input
                class="input"
                name="name"
                type="text"
                placeholder="请输入姓名"
                value="<%= name %>"
              />
            </div>
            <div class="field">
              <label class="label">班级</label>
              <input
                class="input"
                name="classes"
                type="text"
                placeholder="请输入班级"
                value="<%= classes %>"
              />
            </div>
            <div class="field formavatar">
              <label class="label">头像</label>
              <figure class="image is-64x64">
                <img
                  class="is-rounded"
                  src="avatars/<%= avatar %>"
                  alt="Image"
                />
              </figure>
              <input class="input" name="file" type="file" accept="image/*" />
            </div>
            <div class="field">
              <label class="label">描述</label>
              <div class="control">
                <input
                  class="input"
                  name="desc"
                  type="text"
                  placeholder="请输入一点自我介绍吧"
                  value="<%= desc %>"
                />
              </div>
            </div>
          </div>
          <div class="block">
            <div class="block">
              <button type="submit" class="button is-primary is-fullwidth">
                上传
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.html') -%>
