* {
    box-sizing: border-box;
}

label,
input {
    text-align: center;
}

img {
    object-fit: cover;
}

.main {
    background-color: #f3fcd8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
        Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    display: flex;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formavatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table td,
.table th {
    /* padding-left: 32px;
    padding-right: 32px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}